html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  body {
    background: linear-gradient(to right, #f79d00, #64f38c);
    margin: 0;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    width: 100vmin;
    height: 66.66vmin;
  }
  
  .cell {
    position: relative;
    flex-basis: 33.33vmin;
    height: 33.33vmin;
  }
  
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }